#wrap{position: relative;}

#header{position: relative; background-color: rgba(0,0,0,0.3); text-align: center; font-size: 0;}
#header::after{content: ""; display: block; clear: both;}
#header #logo{position: absolute; top:18px; left: 30px;}
#header #nav{display: inline-block;}
#header #logo > a > img{width: 150px;}
#header #nav{}
#header #nav .menu-list{}
#header #nav .menu-list::after{content: ""; display: block; clear: both;}
#header #nav .menu-list > li{float: left;}
#header #nav .menu-list > li > a{display: block; padding: 25px 20px; font-size: 18px; color:black;}
#header .sitemap-btn{position: absolute; top: 10px; right: 30px; font-size: 0;}
#header .sitemap-btn > div{position: relative;width: 30px;height: 30px;}
#header .sitemap-btn > div > span{position: absolute; left: 0; width: 100%; height: 2px; background-color: #000000;}
#header .sitemap-btn > div > span:first-child{top:0}
#header .sitemap-btn > div > span:nth-child(2){top: 50%; transform: translateY(-50%);}
#header .sitemap-btn > div > span:last-child{top:auto; bottom:0;}