html,body{height: 100%;}

#wrap{position: relative; background-image: url(https://whisker.kr/resources/wis-layout/images/main/visual_02.jpg); background-position: center; background-repeat: no-repeat; background-size: cover;}

#header{position: relative; height: 80px;}
#header .header-wrap{display: flex; height: 100%; padding: 0 20px; align-items: center; justify-content: space-between;}

#header .header-wrap #logo{float: left;}
#header .header-wrap #logo > a{color: #fff;}

#header .header-wrap > nav{position: absolute; top: 0; left: 50%; height: 100%; transform: translateX(-50%);}
#header .header-wrap .gnb{display: flex; height: 100%; margin: 0 -10px;}
#header .header-wrap .gnb > li{height: 100%; padding: 0 10px;}
#header .header-wrap .gnb > li .item{display: flex; height: 100%; padding: 0 15px; font-size: 17px; font-weight: 700; color: #fff; align-items: center;}

#header .header-wrap .sitemap{display: flex; float: right; width: 30px; height: 25px; background-color: transparent; cursor: pointer; flex-direction: column; justify-content: space-between;}
#header .header-wrap .sitemap .ln{display: block; width: 100%; height: 2px; background-color: #000;}


#main{display: flex; height: calc(100vh - 80px); padding: 0 20px; justify-content: center; align-items: center; flex-direction: column;}
#main .info-wrap{display: block; margin-bottom: 100px; text-align: center; color: #fff;}
#main .info-wrap >strong{display: block; margin-bottom: 20px; font-size: 20px; font-weight: 600; color: #fff;}
#main .info-wrap > h2{display: block; margin-bottom: 20px; font-size: 36px; font-weight: 700; color: #fff;}
#main .info-wrap > p{font-size: 18px;}

#main .quick-list{display: flex; width: 100%; margin: 0 -15px; justify-content: space-between;}
#main .quick-list > li{ width: 25%; padding: 0 25px;}
#main .quick-list > li .item{display: flex; width: 100%; height: 250px; padding: 25px; border-radius: 15px; background-color: rgba(255, 255, 255, 0.3); flex-direction: column; justify-content: center;}
#main .quick-list > li .item .img-box{margin-bottom: 20px; text-align: center;}
#main .quick-list > li .item .img-box > img{width: 70px;}#main .quick-list > li{ width: 25%; padding: 0 25px;}
#main .quick-list > li .item .tit{display: block; margin-bottom: 15px; font-size: 18px; font-weight: 700; text-align: center; color:#fff;}
#main .quick-list > li .item .txt{display: block; text-align: center; font-size: 14px;color:#fff;}

#footer{display: flex; padding: 20px; background-color: #333;}
#footer .footer-logo{flex-shrink: 0; flex-basis: 120px; font-size: 30px; font-weight: 700;}
#footer .footer-logo > a{color: #fff;}
#footer .footer-info{flex-grow: 1; padding-left: 60px;}
#footer .footer-info .copyright{color: #fff;}
#footer .footer-info > address{color: #fff; margin-bottom: 10px;}